@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text.Json.Nodes

@inject IViewLocalizer localizer
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = localizer["GlobalSettings"];
    var globals = ViewData["GlobalSettings"] as JsonNode;
}

<div>
    @{
        foreach(var element in globals.Root.AsObject())
        {
            <form>
                <div class="input-group mb-1">
                    <span class="input-group-text">@element.Key</span>
                    <input class="form-control form-control-sm" type="text" value="@element.Value">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </form>
        }
    }
</div>