@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["LoggedOut"];
}

<div class="justify-content-center">
    <p class="fs-1 text-center">@localizer["YouHaveLoggedOut"]</p>
</div>
