@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Home"];
}
<div style="text-align:center;">
    <object>
        <embed src="http://localhost:5146/default01.static.socialpointgames.com/static/socialempires/flash/SELoader.swf?swftoload=http://localhost:5146/default01.static.socialpointgames.com/static/socialempires/flash/SocialEmpires0926bsec.swf"
               allowFullScreen="true" bgcolor="#669C2C" quality=high WIDTH="760" HEIGHT="600" NAME="se" ALIGN=""
               TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"
               flashvars='spdebug=notnull&brk=0
                    &staticUrl=http://localhost:5146/default01.static.socialpointgames.com/static/socialempires/&brk=0
                    &dynamicUrl=http://localhost:5146/dynamic.flash1.dev.socialpoint.es/appsfb/socialempiresdev/srvempires/&brk=0
                    &skiphash12341=notnull&brk=0
                    &fb_sig_user=@ViewData["UserId"]&brk=0
                    &user_key=123456789&brk=0
                    &language=en&brk=0
                    &accessToken=AAABbZAm0wdMUBALsOrR0Ho68CLjaOT8SV3vftKg9mbo1zZColaW5FljRVaLxPGxXXnm1M98mTZCAttcQ4GHwvSyXfsyxYmvKMH8Hmn5iliSPnjvIsZA6&brk=0
                    &sex=m&brk=0
                    &lastLoggedIn=1349266517&brk=0
                    &dailyBonus=0&brk=0
                    &friendsInfo=[]&brk=0
                    &serverTime=@ViewData["DateTime"]&brk=0
                    &forceSyncError=1&brk=0
                    &forceAttackReload=0&brk=0
                    &forceQuestReload=0&brk=0'>
        </embed>
    </object>
</div>