@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text
@using SocialEmpires.Models.PlayerSaves
@using static SocialEmpires.Controllers.ManagerController
@inject IViewLocalizer localizer
@{
    Layout = "_ManagerLayout";
    ViewData["Title"] = localizer["EmpireMap"];
    var mapGridItems = ViewData["MapGridItems"] as IEnumerable<MapGridItem>;
}

<div style="background-color:#FFFFFF;width:100%;">
    @{
        var mapGrid = new MapGridItem[100, 100];
        foreach (var item in mapGridItems)
        {
            mapGrid[item.Y, item.X] = item;
        }
        
        for(int x = 20; x < 80; x++)
        {
            <div style="display:flex;">
                @{
                    var sb = new StringBuilder();
                    for (int y = 20; y < 80; y++)
                    {
                        <div style="width:20px;height:20px;font-size:10px;border:1px,solid;text-align:right;position:relative;">
                            @{
                                if (mapGrid[x, y] != null)
                                {
                                    <img src="/default01.static.socialpointgames.com/static/socialempires/buildingthumbs/@(mapGrid[x, y].Image).jpg"
                                         width="@(mapGrid[x, y].Width * 20)"
                                         height="@(mapGrid[x, y].Height * 20)"
                                    style="z-index:1;position:absolute;bottom:50%;right:100%"/>
                                }
                            }
                        </div>
                    }
                }
            </div>
        }
    }
</div>