@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div>
    <form action="api/initialize" method="post">
        <span>Email:</span>
        <input type="email" name="email" />
        <span>Password:</span>
        <input type="password" name="password" />
        <button type="submit">Initialize</button>
    </form>
</div>
