@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Login"];
}

<div>
    <form action="api/login" method="post">
        <span>Email:</span>
        <input type="email" name="email" />
        <span>Password:</span>
        <input type="password" name="password" />
        <button type="submit">Login</button>
    </form>
    @if (TempData["ErrorMessage"] != null)
    {
        <p>@localizer[TempData["ErrorMessage"].ToString()]</p>
    }
</div>
