@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Login"];
}

<div style="max-width:400px;margin:auto;">
    <form action="api/loginByEmailAndPassword" method="post">
        <div class="form-group">
            <label>@localizer["Email Address"]</label>
            <input type="email" class="form-control" name="email" />
        </div>
        <div class="form-group">
            <label>@localizer["Password"]</label>
            <input type="password" class="form-control" name="password" />
        </div>
        <div class="form-group">
            @if (TempData["ErrorMessage"] != null)
            {
                <p>@localizer[TempData["ErrorMessage"]?.ToString()!]</p>
            }
        </div>
        <button type="submit" class="btn btn-primary" style="width:100%;margin-top:20px;">Login</button>
    </form>
</div>
