@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Register"];
}
<body>
    <div>
        <form action="api/sendEmailConfirmationEmail" method="post">
            <span>Email:</span>
            <input type="email" name="email" />
            <button id="SendEmailButton" type="submit" disabled></button>
        </form>
        <form action="api/register" method="post">
            <span>Code:</span>
            <input type="number" name="code" />
            <span>Password:</span>
            <input type="password" name="password" />
            <button type="submit">Register</button>
        </form>
        @if (TempData["ErrorMessage"] != null)
        {
            <p>@localizer[TempData["ErrorMessage"].ToString()]</p>
        }
    </div>

    <script>
        var button = document.getElementById("SendEmailButton");

        if (@(TempData["SendingInterval"]??"null") == null) {
            button.textContent = "Send";
            button.disabled = false;
        }else{
            function countdown() {
                if (countdownValue > 0) {
                    countdownValue--;
                    button.textContent = "Wait " + countdownValue + "s";
                }
                else {
                    button.disabled = false;
                    button.textContent = "Send";
                    clearInterval(timer);
                }
            }
            var countdownValue = @(TempData["SendingInterval"]??0);
            var timer = setInterval(countdown, 1000);
        }
    </script>
</body>
